exportPattern("^[[:alpha:]]+")
import(vegan)
import(ape)
import(ggplot2)
import(grid)
import(plyr)
import(dplyr)
import(multcomp)
import(patchwork)
import(fs)
import(stringr)
import(ggiraph)
import(plotly)
import(agricolae)
import(parallel)
import(doParallel)
import(randomForest)
