exportPattern("^[[:alpha:]]+")
importFrom(vegan,diversity)
importFrom(vegan,vegdist)
importFrom(vegan,adonis)
importFrom(vegan,estimateR)
importFrom(ape,pcoa)
import(ggplot2)
import(grid)
importFrom(plyr,create_progress_bar)
import(dplyr)
import(multcomp)
import(patchwork)
import(fs)
import(stringr)
importFrom(ggiraph,girafe)
importFrom(htmlwidgets,saveWidget)
importFrom(ggpubr,stat_compare_means)
importFrom(agricolae,HSD.test)
importFrom(agricolae,LSD.test)
importFrom(agricolae,duncan.test)
importFrom(agricolae,scheffe.test)
importFrom(agricolae,REGW.test)
importFrom(agricolae,SNK.test)
importFrom(randomForest,randomForest)
importFrom(randomForest,varImpPlot)
importFrom(htmlwidgets,saveWidget)